<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App Anasayfa</title>
    <link rel="stylesheet" href="/mainpage.styles.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="logo"><a href="http://localhost:3000">Movie App</a></div>
    </div>
    
    <div class="container">
        <h1>Welcome to Movie App!</h1>
        <div class="button-container">
            <a href="http://localhost:3000/Login" class="button">Login</a>
            <a href="http://localhost:3000/signup" class="button">Sign Up</a>
        </div>
    </div>
</body>
</html>
