<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/user.styles.css"> <!-- CSS dosyanızın yolunu ekleyin -->
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="http://localhost:3000/user">Movie App</a></div>
        <ul>
            <li><a href="/login">Sign Out</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card-container">
            <div class="card">
                <a href="/my-watchlist">My Watchlist</a>
            </div>
            <div class="card">
                <a href="/all-movies">All Movies</a>
            </div>
            <div class="card">
                <a href="/account">Account</a>
            </div>
        </div>
    </div>

    <script src=""></script>
</body>
</html>
