* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Navbar styling */
.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* navbar yüksekliğini çıkararak ortalamak için */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background-color: #4CAF50; /* Kart rengini buraya ekledik */
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center; /* Metni yatay ortalamak için */
    border-radius: 8px;
    transition: background-color 0.3s;
    height: 200px; /* Yükseklik ayarlamak için */
    width: 200px;
    display: flex; /* Flexbox ile dikey ortalamak için */
    justify-content: center; /* Yatay ortalama */
    align-items: center; /* Dikey ortalama */
}

.card a {
    display: flex; /* Flexbox ile içeriği ortalamak için */
    justify-content: center; /* Yatay ortalama */
    align-items: center; /* Dikey ortalama */
    height: 100%; /* Kartın tamamını kaplamak için */
    width: 100%; /* Kartın tamamını kaplamak için */
    text-decoration: none; /* Altı çizili olmaması için */
    color: #fff; /* Metin rengi beyaz */
    font-weight: bold; /* Metni vurgulamak için */
}


.card:hover {
    background-color: #45a049; /* Hover rengi */
}

